[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
pymongo = "*"
mongoengine = "*"
selenium = "*"
lxml = "*"
"autopep8" = "*"


[dev-packages]



[requires]

python_version = "3.6"
